.navbar {
    background: none;
    position: top;
    margin-bottom: 0;
    border: 0;
    font-size: 18px;
    line-height: 1.42857143;
    border-radius: 0;
    padding: 20px;
    font-family: Poppins-SemiBold;
  }

  .navbar-brand {
      font-size: 40px;
  }
  
  .navbar li a,
  .navbar .navbar-brand {
    color: #000000 !important;
  }
  
  .navbar-nav li a:hover,
  .navbar-nav li.active a {
    color: #49CCAE !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
  }

  .center {
    text-align: center;
  }

  .backgroundImg {
    position: relative;
    width: 1073px;
    height: 809px;
  }

  .mainDiv {
    top: 10px;
    position: relative;
  }

  .mainHeader {
    position: absolute;
    top: 250px;
    left: 250px;
    font-family: Poppins-SemiBold;
    font-size: 70px;
    color: white;
  }

  .subHeader {
    position: absolute;
    top: 340px;
    left: 315px;
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: white;
  }

  .downloadImg {
    position: absolute;
    top: 400px;
    left: 310px;
    width: 146px;
    height: 56px;
  }

  .warning {
    left: 20px;
    font-family: Poppins-SemiBold;
    font-size: 12px;
    color: black;
  }

  .screenshot {
    position: absolute;
    top: 50px;
    left: 700px;
    width: 415px;
    height: 773px;
  }

  @media only screen and (max-width: 700px) {
    .backgroundImg {
      width: 715px;
      height: 539px;
    }

    .mainHeader {
      top: 250px;
      left: 50px;
    }

    .subHeader {
      top: 340px;
      left: 60px;
    }

    .downloadImg {
      left: 40px;
    }

    .screenshot {
      top: 80px;
      left: 450px;
      width: 229px;
      height: 426px;
    }
  }

  @media only screen and (max-width: 600px) {
    .backgroundImg {
      width: 515px;
      height: 339px;
    }

    .mainHeader {
      top: 70px;
      left: 120px;
      font-size: 60px;
    }

    .subHeader {
      top: 150px;
      left: 70px;
      font-size: 15px;
    }

    .downloadImg {
      left: 40px;
    }

    .screenshot {
      top: 50px;
      left: 370px;
      width: 139px;
      height: 258px;
    }
  }


  @media only screen and (min-width: 1500px) {

    .mainHeader {
      top: 250px;
      left: 500px;
    }

    .subHeader {
      top: 340px;
      left: 510px;
    }

    .downloadImg {
      left: 490px;
    }

    .screenshot {
      top: 80px;
      left: 950px;
      width: 415px;
      height: 773px;
    }
  }

  @font-face {
    font-family: Poppins-SemiBold;
    src: url(Poppins-SemiBold.ttf);
  }